nav{
    background: white;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

ul{
    list-style-type: none;
    display: flex;
}

li a{
    text-decoration: none;
    padding-right: 50px;
    color: black;
}